<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <title>VITE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    </head>
<body>

<h1 style="font-family: Helvetica, Arial, sans-serif; font-weight: normal;font-size: 32px;margin-bottom: 10px;">VITE</h1>

<table width="100%" cellpadding="0" cellspacing="0" style="font-family: Helvetica, Arial, sans-serif;background-color:#ececec">

    <tbody>
    <tr>
        <td colspan="2" style="background-color:red; color:#fff;padding:2px;padding-left: 9px;font-size: small;">THEATRE</td>
    </tr>
    <tr>
        <td style="display: block;">
            <img src="http://i4.dailyrecord.co.uk/incoming/article1782032.ece/ALTERNATES/s2197/Chvrches-1782032.jpg" style="width:100%">
        </td>
        <td valign="top" style="display: block;">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                    <td width="55%" align="left" valign="middle">
                        <h2 style="color:red;font-weight:normal;margin: 0; text-transform: uppercase; overflow: hidden;line-height: 96%; margin-top: 9px;margin-left: 9px;max-height: 70px;">THE BLACK KEYS CONCERT</h2>
                    </td>
                    <td width="42%" align="right" valign="top" style="overflow: hidden;">
                        <p style="color:red;margin: 0;margin-top: 7px;margin-right: 9px;line-height: 90%;"> Jun 15 - 18:00 </p>
                        <p style="color:#737373;margin: 0;margin-right: 9px;"> McCarren Park </p>
                    </td>
                </tr>
                <tr>
                    <td align="left" valign="middle" colspan="2">
                        <p style="font-size:14px;color:#555;margin-left: 9px;margin-right: 9px;">Chvrches came fifth on the BBC's Sound of 2013 list of the most promising new music talent. In March 2013, they released Recover EP. Their debut studio album The Bones of What You Believe was released on 20 September 2013.
                            <a href="#more" style="color:red; text-decoration:none;">View more</a>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td align="left" valign="middle" colspan="2" style="
">
                        <div style="margin-top: 6%;margin-bottom: 2%;width: 100%;display: inline-block">
                            <a style="background-color: red;font-size:15px; float: left;  color: #fff; text-decoration: none; cursor:pointer; width: 43%;text-align: center;margin-left: 5%;padding: 1% 0;background-image: linear-gradient(to top, hsla(0, 0%, 13%, 0.1), hsla(0, 100%, 100%, 0.1));border: solid 1px;" href="#buy_url" alig="left">Tickets</a>
                            <a style="background-color: red;font-size:15px; text-align: center;  color: #fff; text-decoration: none; cursor:pointer;float: right;width: 43%;margin-right: 5%;padding: 1% 0;background-image: linear-gradient(to top, hsla(0, 0%, 13%, 0.1), hsla(0, 100%, 100%, 0.1));border: solid 1px;" href="#share">Share</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="left" valign="middle" colspan="2" cellpadding="5">
                        <hr style="margin: 0;padding: 0;margin-bottom: 9PX;">
                    </td>
                </tr>

                <tr>
                    <td align="left" valign="top" colspan="2">
                        <table width="100%" cellpadding="0" cellspacing="0">
                            <tbody><tr>
                                <td width="6%" align="left" valign="middle">
                                    <img style="width:100%;margin-left: 9px;min-width: 30px;" src="http://www.olofarnalds.com/wp-content/uploads/2012/12/Pitchfork_Media_logo.png">
                                </td>
                                <td style="padding-left: 15px;" align="left" valign="middle">
                                    <p style="font-size:14px;color:#555;font-weight:bold;margin:0;line-height: 90%;">Pitchfork</p>
                                    <p style="font-size:14px;color:#737373;margin:0;">Posted on Sep 25 </p>
                                </td>
                            </tr>
                            </tbody></table>
                    </td>
                </tr>
                <tr>
                    <td align="left" valign="middle" colspan="2">
                        <p style="font-size:14px;color:#555;margin:9px;margin-top: 0">' Chvrches know how to go big on an intimate scale, to remind us of the stuff that keeps us livi...'</p>
                    </td>
                </tr>

                </tbody>
            </table>
        </td>
    </tr>

    </tbody>

</table>
</body>
</html>